<div>
    <h2>
        <%=title%>
    </h2>
    <form form method="POST" action="/new">
        <fieldset>
            <label for="userName">Name:</label>
            <input type="text" name="messageUser">
            <label for="messageText">Message:</label>
            <input type="text" name="messageText">
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</div>