<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h2><%=title%></h2>
    
          <li><%= message.text %>
            <%= message.user %> 
            <%= message.added %>  
           
        </li>
       
      </ul>
  </body>
</html>